.hero {
  text-align: center;
  padding: 100px 0;

  .megatitle {
    @include font-size(70);
    color: $white;
    font-weight: 900;
  }

  .subtitle {
    @include font-size(22);
    color: $white;
    font-weight: normal;
    margin-top: 30px;
  }
}

.home-intro {
  border-top: 1px solid #ddd;
  padding: 40px 0;
  margin: 0;
  background: $primary;
  color: #fff;
  @include breakpoint(desktop) {
    padding: 100px 80px;
  }

  &--text {
    @include font-size(24);
    color: #fff;
    font-weight: 300;
    @include breakpoint(desktop) {
      @include font-size(36);
    }
  }
}

.sticky-courses {
  border-bottom: 1px solid #ddd;
  padding-bottom: 40px;
}

.home-categories {
  &--columns {
    @include breakpoint(desktop) {
      display: flex;
      justify-content: space-between;

      & > div {
        width: 33.333%;
      }
    }
  }

  &--rows {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &--item {
    padding: 32px;
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $black;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    width: 100%;

    &.no-pd {
      margin: 0;
      padding: 0;
    }

    &.white {
      color: $white;
    }
  }

  &__title {
    @include font-size(30);
    line-height: 1.1;
    margin-bottom: 100px;
  }

  &__description {
    @include font-size(15);
    margin-bottom: 40px;
    max-width: 50%;
  }
}
